<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have requested password restore!</h1>
    <p>
      Please, follow this link to reset your password <%= @url %>.<br>
    </p>
    <p>
      If you did not request this action - just ignore this mail.
    </p>
  </body>
</html>