development:
  secret_key_base: fc051ed6431cbeef8c6d46c0837d640f9e7d9a467166d73b5210c483797b52cc63197e37356c9a29dd2e8a41f9e07a4fae119ec491d7decc6d24ad3a790b544a
  salt: "1c5bb716462f"
  peper: "f24ae1b490a1"
  client_verification_point: "http://localhost:3000/api/v1/profile/validates/"
production:
  secret_key_base: <%= ENV["PROD_SECRET_KEY_BASE"] %>
  rekaptcha_public_key: <%= ENV["PROD_REKAPTCHA_PUBLIC_KEY"] %>
  rekaptcha_private_key: <%= ENV["PROD_REKAPTCHA_PRIVAT_KEY"] %>
  salt: "1c5bb716462f"
  peper: "f24ae1b490a1"
  client_verification_point: "http://localhost:3000/api/v1/profile/validates/"
staging:
  secret_key_base: <%= ENV["STAGING_SECRET_KEY_BASE"] %>
  rekaptcha_public_key: <%= ENV["STAGING_REKAPTCHA_PUBLIC_KEY"] %>
  rekaptcha_private_key: <%= ENV["STAGING_REKAPTCHA_PRIVAT_KEY"] %>
  salt: "1c5bb716462f"
  peper: "f24ae1b490a1"
  client_verification_point: "http://localhost:3000/api/v1/profile/validates/"
